@page
@model Capella.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "Accès Refusé";
}

<h1>Accès Refusé</h1>
<p>Vous n'avez pas les permissions nécessaires pour accéder à cette page.</p>
<a href="/Login">Retour à la page de connexion</a>
